In [1]:
import pandas as pd 
import pymongo

In [2]:
df = pd.read_csv("loan_data.csv")

In [3]:
df

,Unnamed: 0,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,0,1,25,1,49,91108,4,1/60,Undergrad,0,No,Yes,No,No,No
1,1,2,45,19,34,90089,3,1/50,Undergrad,0,No,Yes,No,No,No
2,2,3,39,15,11,94720,1,1/00,Undergrad,0,No,No,No,No,No
3,3,4,35,9,100,94112,1,2/70,Graduate,0,No,No,No,No,No
4,4,5,35,8,45,91330,4,1/00,Graduate,0,No,No,No,No,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,4995,4996,29,3,40,92697,1,1/90,Professional,0,No,No,No,Yes,No
4996,4996,4997,30,4,15,92037,4,0/40,Undergrad,85,No,No,No,Yes,No
4997,4997,4998,63,39,24,93023,2,0/30,Professional,0,No,No,No,No,No
4998,4998,4999,65,40,49,90034,3,0/50,Graduate,0,No,No,No,Yes,No
4999,4999,5000,28,4,83,92612,3,0/80,Undergrad,0,No,No,No,Yes,Yes

In [4]:
df.drop(columns=['Unnamed: 0'], inplace=True)

In [5]:
data = df.to_dict(orient='records')

In [6]:
DB_NAME = 'Loan-Status-pred'
COLLECTION_NAME = 'Loan-Status-pred-data'
CONNECTION_URL = 'mongodb+srv://raman89765038:AZmmljFeGFLWy6hS@loan-status-pred.fpmw6l5.mongodb.net/?retryWrites=true&w=majority&appName=Loan-Status-pred'

In [7]:
client = pymongo.MongoClient(CONNECTION_URL)
db_name = client[DB_NAME]
collections = db_name[COLLECTION_NAME]

In [13]:
rec = collections.insert_many(data)

In [14]:

df = pd.DataFrame(list(collections.find()))

In [17]:
df

,_id,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,681a2933fbfaefe01165be2b,1,25,1,49,91108,4,1/60,Undergrad,0,No,Yes,No,No,No
1,681a2933fbfaefe01165be2c,2,45,19,34,90089,3,1/50,Undergrad,0,No,Yes,No,No,No
2,681a2933fbfaefe01165be2d,3,39,15,11,94720,1,1/00,Undergrad,0,No,No,No,No,No
3,681a2933fbfaefe01165be2e,4,35,9,100,94112,1,2/70,Graduate,0,No,No,No,No,No
4,681a2933fbfaefe01165be2f,5,35,8,45,91330,4,1/00,Graduate,0,No,No,No,No,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,681a2933fbfaefe01165d1ae,4996,29,3,40,92697,1,1/90,Professional,0,No,No,No,Yes,No
4996,681a2933fbfaefe01165d1af,4997,30,4,15,92037,4,0/40,Undergrad,85,No,No,No,Yes,No
4997,681a2933fbfaefe01165d1b0,4998,63,39,24,93023,2,0/30,Professional,0,No,No,No,No,No
4998,681a2933fbfaefe01165d1b1,4999,65,40,49,90034,3,0/50,Graduate,0,No,No,No,Yes,No
4999,681a2933fbfaefe01165d1b2,5000,28,4,83,92612,3,0/80,Undergrad,0,No,No,No,Yes,Yes